<div style="height: 100%;">
  <div id="startupHeader">
    <div style="padding-top: 5px;">
      BSII Tool
    </div>
  </div>
  <div id="startupScrollContainer">
    <!--<div id="startupNoteMessage">
      PLEASE NOTE: THIS WEBSITE IS STILL UNDER DEVELOPMENT. THE DATA SHOWN HERE ARE FOR TESTING PURPOSES!
    </div>-->
    <div style="font-size: 14px; color: #00497F;">
      Welcome!
    </div>
    <div style="font-size: 12px; color: #444444;">
      BSII tool information.
    </div>
    <hr/>
    <div style="font-size: 12px; color: #444444;">
      Please, read carefully all the information contain in the website before starting the BSII application.
    </div>
    <hr/>
    <div style="font-size: 14px; color: #00497F;">
      Data policy
    </div>
    <div style="font-size: 12px; color: #444444;">
      Users of this website agree to the HELCOM privacy policy. The detailed information can be found <a href="http://www.helcom.fi/Documents/About%20us/Internal%20rules/HELCOM%20Privacy%20Policy.pdf" target="_blank"> here </a>.
    </div>
    <div id="startupButtonsContainer">
      <div id="startupButton" data-dojo-attach-point="startupButton" data-dojo-attach-event="ondijitclick:closeWindow">Agree</div>
    </div>
  </div>
  <div id="startupFooter">
    <div style="font-size: 14px; color: #00497F;">
      Contact
    </div>
    <div style="font-size: 12px; color: #444444;">
      Feedback and questions are warmly welcome and can be send to: data@helcom.fi
    </div>
  </div>
</div>
