<div>
	<div style="font-size: 28px; margin: 25px 10%; text-align: justify; text-justify: inter-word;"> BSII and BSPI calculation</div>
	<div id="bsiiModeButton" class="bsiiButton" style="margin-left: 10%; display: inline-block;">BSII calculation</div>
	<div id="bspiModeButton" class="bsiiButton" style="margin-left: 10%; display: inline-block;">BSPI calculation</div>
	<div id="bsiiModeMessages" style="display: none;">
		<div style="margin: 25px 10%;">
			Baltic Sea Impact Index calculation tool
		</div>
		<div style="font-weight: bold; margin: 25px 10%; text-align: justify; text-justify: inter-word;"> Select Ecosystem component and Pressure layers to include in calculation </div>
	</div>
	<div id="bspiModeMessages" style="display: none;">
		<div style="margin: 25px 10%;">
			Baltic Sea Pressure Index calculation tool
		</div>
		<div style="font-weight: bold; margin: 25px 10%; text-align: justify; text-justify: inter-word;"> Select Pressure layers to include in calculation </div>
	</div>
	<div id="ecGroupSection" class="titlePaneSection" style="display: none;"></div>
	<div id="plGroupSection"class="titlePaneSection" style="display: none;"></div>
	<div id="getLayersForGridButton" class="bsiiButton" style="margin-left: 10%; display: none;">Get Sensitivity Scores</div>
	<span id="resetSensitivityScores" class="leftPanelLink" style="display: none;">Reset sensitivity scores</span>
	<div id="layersSelectionError" style="margin: 10px 10%; color: red; display: none;">Select at least 2 Ecosystem component and 2 Pressure layers to include in BSII calculation.</div>
	<div id="plLayersSelectionError" style="margin: 10px 10%; color: red; display: none;">Select at least 2 Pressure layers to include in BSPI calculation.</div>
	<div id="ssMessage" style="margin: 10px 10%; display: none;">Default sensitivity scores for selected layers are displayed in the table below. Sensitivity scores can be edited directly in the table. Edited values will be used in BSII calculation. Use <b>Calculate BSII</b> button below to calculate BSII.</div>
	<div id="gridContainer" style="margin: 10px 10%;"></div>
	<div id="calculateMessage" style="margin-left: 10%; font-size: 14px; color: #800000; display: none;">Calculating index, please wait. This should not take longer than a minute.</div>
	<div id="calculateBsiiButton" class="bsiiButton" style="margin-left: 10%; display: none;">Calculate BSII</div>
	<div id="calculateBspiButton" class="bsiiButton" style="margin-left: 10%; display: none;">Calculate BSPI</div>

</div>
